{{!< layout}}

<div data-parameters-object="{{{parameters_object}}}" data-parameters-string="{{{parameters_string}}}" data-parameters-object2="{{parameters_object}}" data-parameters-string2="{{parameters_string}}">
    {{#if body}}
        {{{body}}}
    {{/if}}
</div>

<input type="hidden" id="slideParams" name="slideParams" value="{{{parameters_object}}}">
<input type="hidden" id="slideParams2" name="slideParams2" value="{{parameters_object}}">
<input type="hidden" id="slideParams3" name="slideParams3" value="{{{parameters_string}}}">
<input type="hidden" id="slideParams4" name="slideParams4" value="{{parameters_string}}">

<script type="text/javascript">
    const parameters = "{{{parameters_string}}}";
    gtag('event', 'slide_used', {'parameters': parameters});
</script>
